* {
    box-sizing: border-box;
  }
  
  body {
    font-size: 18px;
    color: #777;
    line-height: 1.5;
    background: #FF4F30; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top,#FF4F30, #FF8E38); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top,#FF4F30, #FF8E38); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Quicksand', 'Verdana', sans-serif;
  }
  
  nav,
  footer {
    padding: 0;
    text-align: center;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  header {
    padding: 35% 0 4% 0;
    background: url(street-bg-orange.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    height: auto;
    text-shadow: 1px 1px 1px #333;
    text-align: center;
  }

  .creativity {
    background: url(arr-creativity.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -180px;
    left: -300px;
  }

  .code {
    background: url(arr-code.svg);
    background-repeat: no-repeat;
    width: 75%;
    height: 75%;
    position: absolute;
    top: -80px;
    right: -200px;
  }
  
  .intro {
    padding: 5%;
    width: 65%;
    margin: 0 auto;
    /* background: rgba(85, 85, 85, 0.7) */
  }

  .feature.name{
    font-size: 6rem;
  }

  a.feature{
    font-family: 'Joti One';
    font-size: 2rem;
    color: inherit;
  }

  a {
    color:#333;
    text-decoration: none;
    text-transform: uppercase;
  }

  h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald';
    line-height: 1.5;
    margin: 1% 0;
    color:#333;
  }

  h1{
    font-size: 6rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }

  h2{
    font-size: 2rem;
    color: whitesmoke
  }

  h3{
    font-size: 1.5rem;
  }
  
  section {
    height: 300px;
    max-width: 80%;
    background: #fff;
    margin: 60px auto;
    text-align: left;
    border-radius: 5px;
    display: flex;
    position: relative;
    box-shadow: 5px 5px 30px rgba(85, 85, 85, 0.42);
    overflow: visible;
  }

  .desc{
    padding: 10px 10px 10px 25px;
    position: relative;
  }

  .stack li {
    display: inline-block;
  }

  .desc a.button{
    line-height: 2rem;
    padding: 8px 8%;
    font-size: .8rem;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background: #222;
    border: none;
    position: absolute;
    top: 275px;
    left: 250px;
    z-index: 999;
    box-shadow: 5px 5px 30px rgba(85, 85, 85, 0.42);

  }

  section img{
    float: left;
    width: auto;
    height: 300px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  footer {
    margin: 75px 0;
    color: white;
  }

  footer a, footer h3{
    color: white;
  }
  